<% @albums.each do |album| %>
<div class="thumbnail">
<!-- Button trigger modal -->
  <%= link_to "#", data: {toggle: "modal", target: "#photo-modal#{album.id}"} do %>
    <%= image_tag album.photo.url(:large) %>
  <%end%>
<!-- Modal -->
    <div class="modal fade" id="photo-modal<%=album.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= album.name %></h4>
          </div>
          <div class="modal-body">
              <%= image_tag album.photo.url(:large) %>
              <hr>
            <p><%= album.post %></p>
            <%= link_to "Like", vote_path(id: album.id), method: :post, class: "btn btn-primary" %>
            <div class="likeable">
              <p>Like: <%= album.likes %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
<%= link_to user_path(id: album.user_id) do %>
  <%= album.user.email %>
<%end%>

  <!-- <%= image_tag album.photo.url(:large) %>
  <%= album.user.email %>
  <strong><%= album.post %></strong>
  <%= link_to "Like", vote_path(id: album.id), method: :post, class: "btn btn-primary" %>
  <p>Like: <%= album.likes %></p> -->

<%end%>

<% if !current_user.nil? %>
<% if !current_user.friends.include? @user %>
  <%= button_to "Follow", relationships_path(friend_id: @user.id), class: "btn btn-danger" %><br>
<%else%>
  <%= button_to "Unfollow", relationship_path(user_id: current_user.id, friend_id: @user.id), method: :delete, class: "btn btn-danger" %>

<%= form_tag charges_path, method: :post do %>
<script
  src="https://checkout.stripe.com/checkout.js"
  class="stripe-button"
  data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
  data-image="<%= image_path 'wrkout.jpg' %>"
  data-name="Connect with me"
  data-description="Advice($1.00)"
  data-amount="10000">
</script>
<% end %>
<%end%>
<%end%>
