<% @albums.each do |album| %>
<div class="thumbnail">
                <!-- Button trigger modal -->
                  <%= link_to "#", data: {toggle: "modal", target: "#photo-modal#{album.id}"} do %>
                    <%= image_tag album.photo.url(:large) %>
                  <%end%>
                <!-- Modal -->
                    <div class="modal fade" id="photo-modal<%=album.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><%= album.name %></h4>
                          </div>
                          <div class="modal-body">
                              <%= image_tag album.photo.url(:large) %>
                              <hr>
                            <p><%= album.post %></p>
                            <%= link_to "Like", vote_path(id: album.id), method: :post, class: "btn btn-primary" %>
                            <div class="likeable">
                              <p>Like: <%= album.likes %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
 <%= link_to user_path(id: album.user_id) do%>
   <div class="btn btn-default" >
     <%= album.user.email%>
   </div>
 <%end%>

   <h3> <%= highlight(album.name, params[:search]) %></h3>
   <p><%= highlight(album.description, params[:search]) %></p>
</div>
<% end %>
