<div class="row">

<% @albums.each do |album| %>

  <% if album.user_id != current_user.id %>

  <div class="col-sm-6 col-md-4">

    <div class="thumnail">

      <%= link_to user_path(id: album.user_id) do %>

        <%= image_tag album.photo.url(:large), class: "img-responsive" %>

      <%end%>

      <%= link_to user_path(id: album.user_id) do %>

        <%= album.user.email %>

      <%end%>

      <div class="caption">

        <h3> <%= highlight(album.name, params[:search]) %></h3>

        <p><%= highlight(album.description, params[:search]) %></p>

        <% album.tags.each do |tag| %>

          <%= link_to tag.name, album_tag_path(tag_name: tag.name) %>

        <% end %>

      </div>

    </div>

  </div>

    <%end%>
<% end %>

</div>

<div class="row">

  <!-- <h4>Tags</h4> -->

  <% @tags.each do |tag| %>

    <%= link_to  album_tag_path(tag_name: tag.name), class: "" do %>

      <span class="label label-info">

        <%= tag.name %>

      </span>

      <% end %>&nbsp;

  <% end %>

</div>
