<center> <a href="/"> <%= image_tag "logo-01.png", class: "logo" %> </a> </center>


  <div class="row">
    <p class="navbar-text pull-left">
    </p>

    <p class="navbar-text pull-right">
      <br />
        <% if user_signed_in? %>
        Hello,<%= current_user.email %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
          <% else %>
          </h3>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link',class: "btn btn-primary pull-right"  %>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link', class: "btn btn-primary pull-right"    %>
        <%end%>
    </p>


<div class="row">
  <div class="col-xs-8">
<%= link_to "Upload", new_album_path, class: "btn btn-success" %>

    <p class="navbar-text">

      <div class="col-xs-9 srch">
        <%= form_tag root_path, method: 'get' do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
        <% end %>
      </div>
    </p>

  </div>
</div>
    <br /><br /><br /><br /><br />



<!-- Disabled "Success" alert so it wouldnt show up every time you log in -->
    <% if false %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>
