<!DOCTYPE html>
<html>
<head>
  <title>Wrkout</title>
  <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= render partial:"layouts/navbar"%>

<!-- <img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/548677-614a2927735c3a4ac9e77f45b2a54e37-medium_jpg.jpg?buster=1417719928" alt="Smiley face" height="100" width="100"> -->

<%= yield %>

</body>
</html>
